In [57]:
import numpy as np
import pandas as pd
import scipy.stats as st
from scipy.stats import skew
import matplotlib.pyplot as plt
import seaborn as sns

### Ejercicio 1
Hacer una exploración inicial del dataframe.

In [5]:
df_housing = pd.read_csv("../Estadistica/Archivos/housing_melbourne.csv")
df_housing.head(3)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council

* ¿Cuántas filas tiene?

In [6]:
print(f"El dataset tiene {df_housing.shape[0]} filas y {df_housing.shape[1]} columnas.")

El dataset tiene 63023 filas y 13 columnas.

* ¿Cuántas nulos tiene?

In [16]:
print(f"El dataset tiene un total de {df_housing.isnull().values.sum()} casos nulos.")

El dataset tiene un total de 14590 casos nulos.

* ¿Y duplicados?

In [17]:
print(f"El dataset tiene un total de {len(df_housing[df_housing.duplicated()])} casos duplicados.")

El dataset tiene un total de 2 casos duplicados.

* ¿Qué tipo de datos tenemos en el DataFrame?

In [10]:
#tipo de datos que tiene el DataFrame
df_housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63023 entries, 0 to 63022
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         63023 non-null  object
 1   Address        63023 non-null  object
 2   Rooms          63023 non-null  int64
 3   Type           63023 non-null  object
 4   Price          48433 non-null  float64
 5   Method         63023 non-null  object
 6   SellerG        63023 non-null  object
 7   Date           63023 non-null  object
 8   Postcode       63023 non-null  int64
 9   Regionname     63023 non-null  object
 10  Propertycount  63023 non-null  int64
 11  Distance       63023 non-null  float64
 12  CouncilArea    63023 non-null  object
dtypes: float64(2), int64(3), object(8)
memory usage: 6.3+ MB

### Ejercicio 2
Plantead una serie de preguntas como las que fuimos contestando en la clase invertida.

In [17]:
df_housing.describe()

              Rooms         Price      Postcode  Propertycount      Distance
count  63023.000000  4.843300e+04  63023.000000   63023.000000  63023.000000
mean       3.110595  9.978982e+05   3125.673897    7617.728131     12.684829
std        0.957551  5.934989e+05    125.626877    4424.423167      7.592015
min        1.000000  8.500000e+04   3000.000000      39.000000      0.000000
25%        3.000000  6.200000e+05   3056.000000    4380.000000      7.000000
50%        3.000000  8.300000e+05   3107.000000    6795.000000     11.400000
75%        4.000000  1.220000e+06   3163.000000   10412.000000     16.700000
max       31.000000  1.120000e+07   3980.000000   21650.000000     64.100000

In [26]:
df_housing["Rooms"].max()

31

In [27]:
df_housing["Rooms"].unique()

array([ 3,  2,  6,  4,  1,  5,  7,  8, 11, 10, 12,  9, 31, 16])

Vemos que existen hasta 30 puntos de diferencia entre el mínimo (1) y el máximo (31). Sin embargo, si nos fijamos en los cuartiles calculados en la tabla anterior, el 75% de las casas tienen menos de 4 habitaciones. Por lo tanto, los valores que hemos observado en el unique() superiores a esta cifra podrían tratarse de outliers.

* Exploración de Correlaciones

In [20]:
corr_df = df_housing.corr()
corr_df

                  Rooms     Price  Postcode  Propertycount  Distance
Rooms          1.000000  0.412438  0.093666      -0.048985  0.268289
Price          0.412438  1.000000  0.003112      -0.060769 -0.253668
Postcode       0.093666  0.003112  1.000000      -0.002557  0.500263
Propertycount -0.048985 -0.060769 -0.002557       1.000000  0.014050
Distance       0.268289 -0.253668  0.500263       0.014050  1.000000

Vemos que existe una correlación moderada-alta (0.50) entre "Postcode" y "Distance", también existe una correlación algo más baja pero moderada (0.41), entre "Price" y "Rooms".
Cuanto mayor es la distancia más elevado es el código postal, y cuantas más habitaciones tiene la vivienda más caro es el piso.

##### Nos hacemos las siguientes preguntas:

* ¿Cuál es el precio medio de una vivienda con una habitación? ¿Y cuál es el precio de una de tres habitaciones?

In [30]:
una_hab = df_housing[df_housing['Rooms'] == 1]
precio = una_hab['Price'].mean()

print(f"El precio medio de una vivienda media de una sola habitación es de {round(precio, 2)} dólares canadienses.")
print('---------------------------------------------')

tres_hab = df_housing[df_housing['Rooms'] == 3]
precio2 = tres_hab['Price'].mean()

print(f"El precio medio de una vivienda media de tres habitaciones es de {round(precio2, 2)} dólares canadienses.")
print('---------------------------------------------')
dif_precio = precio2 - precio
print(f'Por lo tanto, la diferencia de precio entre una vivienda de una habitación y una de tres es de {round(dif_precio, 2)} dólares canadienses.')

El precio medio de una vivienda media de una sola habitación es de 433225.65 dólares canadienses.
---------------------------------------------
El precio medio de una vivienda media de tres habitaciones es de 958527.99 dólares canadienses.
---------------------------------------------
Por lo tanto, la diferencia de precio entre una vivienda de una habitación y una de tres es de 525302.34 dólares canadienses.

In [84]:
df_grafica = df_housing.filter(['Rooms', 'Price'], axis=1)
df_grafica

       Rooms      Price
0          3  1490000.0
1          3  1220000.0
2          3  1420000.0
3          3  1515000.0
4          2   670000.0
...      ...        ...
63018      3   566000.0
63019      3   500000.0
63020      3   545000.0
63021      3        NaN
63022      4        NaN

[63023 rows x 2 columns]

* ¿Cuál es el precio más habitual de una vivienda en Melbourne?

In [35]:
moda_melb = (df_housing['Price'].mode()).round(2)
print(f'El precio más habitual de una vivienda es de {moda_melb[0]} dólares canadienses')

El precio más habitual de una vivienda es de 600000.0 dólares canadienses

* ¿Cuál es el suburbio con la vivienda más cara? ¿Y la más barata?

In [54]:
mas_barata = df_housing[df_housing['Price'] == df_housing['Price'].min()]
barrio_barato = mas_barata['Suburb']

print(f"El barrio con el piso más barato es {barrio_barato.values[0]}.")

print(f'-----------------------------------------------------------')

mas_cara = df_housing[df_housing['Price'] == df_housing['Price'].max()]
barrio_caro = mas_cara['Suburb']
print(f"El barrio con el piso más barato es {barrio_caro.values[0]}.")

El barrio con el piso más barato es Footscray.
-----------------------------------------------------------
El barrio con el piso más barato es Brighton.