In [1]:
import numpy as np
import pandas as pd
import scipy.stats as st
from scipy.stats import skew

### Ejercicio 1
Hacer una exploración inicial del dataframe.

In [2]:
df_housing = pd.read_csv("../Estadistica/housing_melbourne.csv")
df_housing.head(5)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
0,Abbotsford,49 Lithgow St,3,h,1490000.0,S,Jellis,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
1,Abbotsford,59A Turner St,3,h,1220000.0,S,Marshall,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
2,Abbotsford,119B Yarra St,3,h,1420000.0,S,Nelson,1/04/2017,3067,Northern Metropolitan,4019,3.0,Yarra City Council
3,Aberfeldie,68 Vida St,3,h,1515000.0,S,Barry,1/04/2017,3040,Western Metropolitan,1543,7.5,Moonee Valley City Council
4,Airport West,92 Clydesdale Rd,2,h,670000.0,S,Nelson,1/04/2017,3042,Western Metropolitan,3464,10.4,Moonee Valley City Council

* ¿Cuántas filas tiene?

In [7]:
print(f"El dataset tiene {df_housing.shape[0]} filas y {df_housing.shape[1]} columnas.")

El dataset tiene 63023 filas y 13 columnas.

* ¿Cuántas nulos tiene?

In [16]:
df_housing.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price            14590
Method               0
SellerG              0
Date                 0
Postcode             0
Regionname           0
Propertycount        0
Distance             0
CouncilArea          0
dtype: int64

* ¿Y duplicados?

In [11]:
df_housing[df_housing.duplicated()]

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Postcode,Regionname,Propertycount,Distance,CouncilArea
8042,Fitzroy North,5/16 Taplin St,2,h,1010000.0,SP,Woodards,5/05/2018,3068,Northern Metropolitan,6244,3.6,Moreland City Council
33942,Nunawading,1/7 Lilian St,3,t,NaN,SP,Jellis,17/06/2017,3131,Eastern Metropolitan,4973,15.4,Manningham City Council

* ¿Qué tipo de datos tenemos en el dataframe?etc.

In [10]:
df_housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63023 entries, 0 to 63022
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         63023 non-null  object
 1   Address        63023 non-null  object
 2   Rooms          63023 non-null  int64
 3   Type           63023 non-null  object
 4   Price          48433 non-null  float64
 5   Method         63023 non-null  object
 6   SellerG        63023 non-null  object
 7   Date           63023 non-null  object
 8   Postcode       63023 non-null  int64
 9   Regionname     63023 non-null  object
 10  Propertycount  63023 non-null  int64
 11  Distance       63023 non-null  float64
 12  CouncilArea    63023 non-null  object
dtypes: float64(2), int64(3), object(8)
memory usage: 6.3+ MB

### Ejercicio 2
Plantead una serie de preguntas como las que fuimos contestando en la clase invertida.

In [17]:
df_housing.describe()

              Rooms         Price      Postcode  Propertycount      Distance
count  63023.000000  4.843300e+04  63023.000000   63023.000000  63023.000000
mean       3.110595  9.978982e+05   3125.673897    7617.728131     12.684829
std        0.957551  5.934989e+05    125.626877    4424.423167      7.592015
min        1.000000  8.500000e+04   3000.000000      39.000000      0.000000
25%        3.000000  6.200000e+05   3056.000000    4380.000000      7.000000
50%        3.000000  8.300000e+05   3107.000000    6795.000000     11.400000
75%        4.000000  1.220000e+06   3163.000000   10412.000000     16.700000
max       31.000000  1.120000e+07   3980.000000   21650.000000     64.100000

In [26]:
df_housing["Rooms"].max()

31

In [27]:
df_housing["Rooms"].unique()

array([ 3,  2,  6,  4,  1,  5,  7,  8, 11, 10, 12,  9, 31, 16])

Vemos que existen hasta 30 puntos de diferencia entre el mínimo (1) y el máximo (31). Sin embargo, si nos fijamos en los cuartiles calculados en la tabla anterior, el 75% de las casas tienen menos de 4 habitaciones. Por lo tanto, los valores que hemos observado en el unique() superiores a esta cifra podrían tratarse de outliers.

* Exploración de Correlaciones

In [20]:
corr_df = df_housing.corr()
corr_df

                  Rooms     Price  Postcode  Propertycount  Distance
Rooms          1.000000  0.412438  0.093666      -0.048985  0.268289
Price          0.412438  1.000000  0.003112      -0.060769 -0.253668
Postcode       0.093666  0.003112  1.000000      -0.002557  0.500263
Propertycount -0.048985 -0.060769 -0.002557       1.000000  0.014050
Distance       0.268289 -0.253668  0.500263       0.014050  1.000000

Vemos que existe una correlación moderada-alta (0.50) entre "Postcode" y "Distance", también existe una correlación algo más baja pero moderada (0.41), entre "Price" y "Rooms".
Cuanto mayor es la distancia más elevado es el código postal, y cuantas más habitaciones tiene la vivienda más caro es el piso.

¿Cuál es el precio medio de una vivienda con una habitación? ¿Y cuál es el precio de una de tres habitaciones?

In [32]:
una_hab = np.where(df_housing['Rooms'] == 1) 

precio = np.where(df_housing['Price']) 

df_housing.groupby(una_hab, precio)

TypeError: unhashable type: 'numpy.ndarray'