In [1]:
import pandas as pd
import pickle
import numpy as np

## Ejercicio 1
Id cargando todos los ficheros en vuestro jupyter.

- Archivo .JSON

In [5]:
df_json = pd.read_json('../pandas/quejas.json')
df_json.head()

df_json2 = df_json['data'].apply(pd.Series)
df_json2.head()

,unidad_descripcion,tipo,estado,tema,consejeria,fecha_contestacion,canal_entrada,fecha_entrada,subtema
0,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-01-28 00:00:00,N/A
1,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-28 00:00:00,N/A
2,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-23 00:00:00,N/A
3,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-01-24 00:00:00,N/A
4,D.G. de Descarbonización y Transición Energética,Queja,Recepcionada por Unidad,ENERGÍA,"Consejería de Medio Ambiente, Vivienda y Agric...",,INTERNET,2022-03-29 00:00:00,N/A

- Archivo CSV:

In [18]:
df_csv = pd.read_csv('../pandas/quejas.csv', encoding = 'latin-1', sep = ';').head(5)
df_csv

,tipo,estado,canal_entrada,fecha_entrada,fecha_contestacion,consejeria,unidad_descripcion,tema,subtema
0,Queja,Recepcionada por Unidad,INTERNET,2022-01-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
1,Queja,Recepcionada por Unidad,INTERNET,2022-03-28 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
2,Queja,Recepcionada por Unidad,INTERNET,2022-03-23 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
3,Queja,Recepcionada por Unidad,INTERNET,2022-01-24 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN
4,Queja,Recepcionada por Unidad,INTERNET,2022-03-29 00:00:00,NaN,"Consejería de Medio Ambiente, Vivienda y Agric...",D.G. de Descarbonización y Transición Energética,ENERGÍA,NaN

In [ ]:
df_xlsx =

- Archivo PICKLE

In [25]:
df_pickle = pd.read_pickle('../pandas/algas.pickle')
df_pickle.head()

,Unnamed: 0,lon,lat,locality,year,month,kingdom,class,family,genus,species,new,state,country,fecha,day,number_ind
0,22,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,4
1,23,-70.7167,43.0750,New Castle,1900,5.0,Chromista,Phaeophyceae,Fucaceae,Fucus,Fucus vesiculosus,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,3
2,24,-70.7167,43.0750,New Castle,1900,5.0,Plantae,Florideophyceae,Palmariaceae,Palmaria,Palmaria palmata,"43.075,-70.7167",New Hampshire,United States,1900-05-01,1,9
3,33,-158.1170,21.5833,Haleiwa,1900,6.0,Plantae,Ulvophyceae,Ulvaceae,Ulva,Ulva lactuca,"21.5833,-158.117",Hawaii,United States,1900-06-01,1,7
4,35,-7.0000,62.1800,Hvalvík,1900,6.0,Chromista,Phaeophyceae,Alariaceae,Alaria,Alaria esculenta,"62.18,-7.0",Streymoyar sýsla,Føroyar,1900-06-01,1,4

- Archivo .XLSX

In [35]:
df_xlsx = pd.read_excel('../pandas/quejas2.xlsx')
df_xlsx.head()

        DESCRIPCION_TEMA                                DESCRIPCION_SUBTEMA
0  ATENCIÓN AL CIUDADANO                         ADMINISTRACIÓN ELECTRÓNICA
1  ATENCIÓN AL CIUDADANO                                    FUNCIÓN PÚBLICA
2  ATENCIÓN AL CIUDADANO  OFICINAS DE ATENCIÓN AL CIUDADANO DE LA COMUNI...
3  ATENCIÓN AL CIUDADANO     OFICINAS DE REGISTRO DE LA COMUNIDAD DE MADRID
4  ATENCIÓN AL CIUDADANO                                              OTROS

## Ejercicio 2
Para poner en práctica el read_clipboard, elegid alguna tabla que os podaís encontrar en google y usad dicho método para traer los datos al jupyter notebook. Una vez que los hayáis cargado, guardad esos datos en los siguientes formatos:  
        - .csv  
        - .excel  
        - .json  
        - .pickle

In [4]:
#la tabla es sobre items clave del videojuego Persona 5 Royal.
#https://megamitensei.fandom.com/wiki/List_of_Persona_5_Royal_Items
df_clipboard = pd.read_clipboard(sep = '\t')
df_clipboard.head(10)

,Name,Description,Location
0,Castle Map,"An old map, showing the layout of the Old Castle.","Kamoshida's Palace, Old Castle 2F, West Buildi..."
1,Tower Map,"An old map, showing the layout of the tower.","Kamoshida's Palace, Old Castle 3F, East Buildi..."
2,The King Book,A book on the king. It's pretty hefty.,"Kamoshida's Palace, Old Castle 3F, East Buildi..."
3,The Queen Book,A book on the queen. It's pretty hefty.,"Kamoshida's Palace, Old Castle 3F, East Buildi..."
4,The Slave Book,A book on the slaves. It's pretty hefty.,"Kamoshida's Palace, Old Castle 3F, East Buildi..."
5,The Beefcake Book,A book detailing all sorts of ways to get ripped.,"Kamoshida's Palace, Old Castle 3F, East Buildi..."
6,Kamoshida's Medal,A gold medal won in an international competition.,"Kamoshida's Palace, Old Castle 3F, East Buildi..."
7,Randy Right Eye,The right eye thought to be from Kamoshida's s...,"Kamoshida's Palace, defeat Eligor on Tower: Mi..."
8,Lustful Left Eye,The left eye thought to be from Kamoshida's st...,"Kamoshida's Palace, defeat Eligor on Tower: Lo..."
9,Red Lust Seed,A red stone that seems to emit a lustful energy.,Kamoshida's Palace

Una vez cargada la tabla, guardamos los datos:

- En CSV:

In [38]:
df_clipboard.to_csv('../pandas/tabla_persona.csv')

- En Excel:

In [39]:
df_clipboard.to_excel('../pandas/tabla_persona.xlsx')

- En Pickle:

In [40]:
df_clipboard.to_pickle('../pandas/tabla_persona.pkl')

- En JSON:

In [5]:
df_clipboard.to_json('../pandas/tabla_persona.json')

- En Parquet:

In [41]:
df_clipboard.to_parquet('../pandas/tabla_persona.parquet')