In [1]:
import pandas as pd
import numpy as np
import regex as re

### Ejercicio 1
Cread una columna nueva y una funci칩n que nos de el mes en el que ocurri칩 el ataque. Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci칩n de mes. En ese caso devolved un nulo (NaN).

In [67]:
pd7 = pd.read_csv("../Archivos/attacks_1_4.csv")
pd7.head(3)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href,siglo,case_number.1,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,2018.06.18,N,Minor injury to left thigh,18-Jun-2018
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,2018.06.09,N,Injury to left lower leg from surfboard skeg,09-Jun-2018

In [5]:
pd7.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species', 'pdf',
       'href_formula', 'href', 'siglo', 'case_number.1', 'fatal_(y/n)',
       'injury', 'date'],
      dtype='object')

In [6]:
pd7_copia = pd7.copy()

In [22]:
def sacar_mes(x):
    try:
        return re.findall("([a-zA-Z]{1}[a-z]{2})\-", x)[0]
    except:
        return np.nan #necesitamos a침adir los valores nulos a la funci칩n, ya que de lo contrario, nos da error

In [68]:
pd7_copia["mes"] = pd7_copia['date'].apply(sacar_mes)
pd7_copia['mes']

0       Jun
1       Jun
2       Jun
3       Jun
4       Jun
       ...
6283    NaN
6284    NaN
6285    NaN
6286    NaN
6287    NaN
Name: mes, Length: 6288, dtype: object

### Ejercicio 2
Vamos con la columna fatal_(y/n). Lo primero que ten칠is que hacer es evaluar los valores 칰nicos que hay. Esperar칤amos tener solo dos valores: y y n, pero tristemente no ser치 as칤 游땴. Cread una columna nueva y una funci칩n que devuelva 칰nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [69]:
#valoramos los casos unicos.
pd7_copia["fatal_(y/n)"].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [71]:
def limpiar (col):
    try:
        if col == ' N' or col == 'N ' or col == 'N':
            return 'N'
        elif col == 'y' or col == 'Y':
            return 'Y'
        elif col == 'Y':
            return 'Y'
    except:
        return np.nan

In [72]:
pd7_copia['new_fatal_(y/n)'] = pd7_copia['fatal_(y/n)'].apply(limpiar)

In [74]:
pd7_copia['new_fatal_(y/n)'].unique()

array(['N', 'Y', None], dtype=object)

### Ejercicio 3.
Seguid la misma l칩gica que en el ejercicio anterior pero con la columna sex. Pero en este caso vamos a incluir un retito m치s: En este caso querremos tener dos valores 칰nicos F y M. De nuevo en la columna hay otros car치cteres raros como 'M ', 'lli', 'N', '.'. En caso de que sea nulo, que la funci칩n devuelva nulo (np.nan).

In [75]:
#extraemos los valores 칰nicos de la columna 'sex':
pd7_copia['sex'].unique()

array(['F', 'M', 'lli', nan], dtype=object)

In [76]:
#creamos la funci칩n:
def norm_sex (col):
    try:
        if col == 'F':
            return 'F'
        elif col == 'M':
            return 'M'
    except:
        return np.nan

In [77]:
pd7_copia['sex_norm'] = pd7['sex'].apply(norm_sex)
#comprobamos los valores 칰nicos de la nueva columna:
pd7_copia['sex_norm'].unique()

array(['F', 'M', None], dtype=object)

### Ejercicio 4.
Una vez que hay치is terminado eliminad las columnas originales conservando las nuevas.

In [81]:
pd7_copia = pd7_copia.drop(['sex', 'fatal_(y/n)'], axis=1)

In [82]:
pd7_copia.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species', 'pdf', 'href_formula',
       'href', 'siglo', 'case_number.1', 'injury', 'date', 'mes', 'sex_norm',
       'new_fatal_(y/n)'],
      dtype='object')

### Ejercicio 5.
Guardad el dataframe en un csv que usaremos m치s adelante

In [83]:
pd7_copia.to_csv('../Archivos/attacks_def.csv')