In [1]:
import pandas as pd

In [2]:
db_sharks = pd.read_csv('../pandas/attacks_1.csv')
db_sharks.head(2)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN

In [15]:
db_sharks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6114 entries, 0 to 6113
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed:_0              6114 non-null   int64
 1   Case_Number             6113 non-null   object
 2   Year                    6114 non-null   float64
 3   Type                    6110 non-null   object
 4   Country                 6074 non-null   object
 5   Area                    5706 non-null   object
 6   Location                5626 non-null   object
 7   Activity                5603 non-null   object
 8   Name                    5914 non-null   object
 9   Sex                     5564 non-null   object
 10  Age                     3448 non-null   object
 11  Time                    2934 non-null   object
 12  Species                 3409 non-null   object
 13  Investigator_or_Source  6098 non-null   object
 14  pdf                     6114 non-null   object
 15  href_formula            6113 non-null   object
 16  href                    6114 non-null   object
 17  Case_Number.1           6114 non-null   object
 18  Case_Number.2           6114 non-null   object
 19  original_order          6114 non-null   float64
 20  Unnamed:_22             1 non-null      object
 21  Unnamed:_23             2 non-null      object
dtypes: float64(2), int64(1), object(19)
memory usage: 1.0+ MB

        Nos pasa lo siguiente que no sabemos como resolver: Sobre los originales se guardan los cambios aplicados con el .strip() pero no con las copias. Por ello, hemos optado por quitar primero los espacios y luego hacer la copia.

In [9]:
#vamos a quitar primero los espacios que hay después de cada nombre de columna:
#https://stackoverflow.com/a/41476181
db_sharks.columns = db_sharks.columns.str.strip()

In [14]:
#pendiente hacer un regex con los espacios al final de los nombres de las columnas para que los reemplace por "".
db_sharks.columns = db_sharks.columns.str.replace(" ", "_")
db_sharks.columns

Index(['Unnamed:_0', 'Case_Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex', 'Age', 'Time', 'Species',
       'Investigator_or_Source', 'pdf', 'href_formula', 'href',
       'Case_Number.1', 'Case_Number.2', 'original_order', 'Unnamed:_22',
       'Unnamed:_23'],
      dtype='object')

In [18]:
db_sharks2 = db_sharks.copy()
db_sharks2.columns

Index(['Unnamed:_0', 'Case_Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex', 'Age', 'Time', 'Species',
       'Investigator_or_Source', 'pdf', 'href_formula', 'href',
       'Case_Number.1', 'Case_Number.2', 'original_order', 'Unnamed:_22',
       'Unnamed:_23'],
      dtype='object')

    Vemos que year es una variable de tipo float, así que vamos a pasarlo a int:

In [4]:
db_sharks2["Year"] = db_sharks2["Year"].astype(int)

In [5]:
db_sharks2["Year"]

0       2018
1       2018
2       2018
3       2018
4       2018
        ...
6109    1804
6110    1803
6111    1803
6112    1802
6113    1801
Name: Year, Length: 6114, dtype: int32

In [19]:
db_sharks2.drop(['Unnamed:_0', 'Investigator_or_Source', 'Case_Number.1', 'Case_Number.2', 'original_order', 'Unnamed:_22',
       'Unnamed:_23'], inplace=True, axis=1)
db_sharks2.columns

Index(['Case_Number', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex', 'Age', 'Time', 'Species', 'pdf',
       'href_formula', 'href'],
      dtype='object')

In [21]:
db_sharks2.columns = db_sharks2.columns.str.lower()
db_sharks2.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species', 'pdf',
       'href_formula', 'href'],
      dtype='object')

Establecer la columna 'case_number' como índice del dataframe:

* Establecemos a 'case_number' como índice:

In [22]:
db_sharks2.set_index('case_number', inplace=True)
db_sharks2.head()

,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href
case_number,,,,,,,,,,,,,,
2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

* Por último, ¡guardamos los datos en un nuevo csv! Le cambiamos el nombre a esta versión para tener trazabilidad de los cambios aplicados en el DataFrame:

In [23]:
db_csv = db_sharks2.to_csv('../Pandas/attacks_1_2.csv')
db_csv