In [1]:
import pandas as pd

### Ejercicio 1
Cargar el dataset

Pista: Si hacemos la carga del dataset sin el parámetro encoding nos puede dar error (puede que no os de error, si es así menos problemas!). Aquí tenéis una lista de los encodings disponibles en pandas. Buscad por los encoding de tipo ISO

In [11]:
db_sharks = pd.read_csv('../Pandas/attacks.csv')

In [3]:
db_sharks.head(10)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
5,5,2018.06.03.b,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,...,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,NaN,NaN
6,6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
7,7,2018.05.27,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,...,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
8,8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
9,9,2018.05.26.a,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,...,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,NaN,NaN

### Ejercicio 2
Haced una exploración básica del DataFrame:

* ¿Cuántas filas y columnas tiene el DataFrame?

In [13]:
db_sharks.shape

(6114, 22)

* Mostrad las primeras cinco filas y las últimas cinco filas del DataFrame.

In [19]:
#https://stackoverflow.com/questions/58260771/how-to-show-firstlast-n-rows-of-a-dataframe

head_tail =pd.concat([db_sharks.head(5),db_sharks.tail(5)]) 
head_tail

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
6109,6127,1804.02.26.R,1804.0,Boat,AUSTRALIA,New South Wales,"Georges Head, off Port Jackson",NaN,boat,NaN,...,NaN,"Sydney Gazette, 2/26/1804",1804.02.26-boat-GeorgesHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1804.02.26.R,1804.02.26.R,176.0,NaN,NaN
6110,6128,1803.05.17,1803.0,Sea Disaster,USA,South Carolina,Off Charleston,NaN,Captain Jones,M,...,NaN,"Evening Post, 6/13/1803",1803.05.17-Jones.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.05.17,1803.05.17,175.0,NaN,NaN
6111,6129,1803.03.00,1803.0,Unprovoked,AUSTRALIA,Western Australia,"Hamelin Harbour, at Faure Island",NaN,M. Lefevre & a sailor (rescuer),M,...,NaN,F. Peron ref in G.P. Whitley (Fishes of Austr...,1803.03.00-Lefevre.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1803.03.00,1803.03.00,174.0,NaN,NaN
6112,6130,1802.04.13.R,1802.0,Unprovoked,INDIA,NaN,NaN,NaN,NaN,NaN,...,NaN,Evening Post (New York) 4/13/1802,1802.04.13.R-India.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1802.04.13.R,1802.04.13.R,173.0,NaN,NaN
6113,6131,1801.12.18.R,1801.0,Provoked,NaN,NaN,NaN,Standing on landed shark's tail,Stephen Pettigew,N,...,12' shark,"The Evening Post, 12/18/1801",1801.12.18.R-Pettigrew.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1801.12.18.R,1801.12.18.R,172.0,NaN,NaN

* Mostrad 2 filas al azar del DataFrame.

In [20]:
db_sharks.sample(2)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
5100,5112,1928.02.00.b,1928.0,Unprovoked,COSTA RICA,Near Puntarenas,NaN,Swimming,Lily Artavia,F,...,NaN,"Gleaner (Jamaica), 3/7/1928",1928.02.00.b-Artavia.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1928.02.00.b,1928.02.00.b,1191.0,NaN,NaN
21,21,2018.04.25.a,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,...,3 m shark,"B.Myatt, GSAF",2018.04.25.a-Bruce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.04.25.a,2018.04.25.a,6282.0,NaN,NaN

* ¿Cuál es el nombre de las columnas del DataFrame?

In [21]:
db_sharks.columns

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

* ¿Cuáles son los principales estádisticos del DataFrame? 
  Mostrad por separado las variables categóricas y las variables numéricas.

        Númericas

In [24]:
db_sharks.describe()

        Unnamed: 0         Year  original order
count  6114.000000  6114.000000     6114.000000
mean   3065.554629  1968.831207     3237.445044
std    1769.652139    43.745920     1769.652633
min       0.000000  1801.000000      172.000000
25%    1534.250000  1946.000000     1706.250000
50%    3066.500000  1980.000000     3236.500000
75%    4596.750000  2005.000000     4768.750000
max    6131.000000  2018.000000     6303.000000

        Categóricas

In [25]:
db_sharks.describe(include=object)

,Case Number,Type,Country,Area,Location,Activity,Name,Sex,Age,Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,Unnamed: 22,Unnamed: 23
count,6113,6110,6074,5706,5626,5603,5914,5564,3448,2934,3409,6098,6114,6113,6114,6114,6114,1,2
unique,6113,8,201,791,4020,1484,5118,6,156,366,1529,4837,6105,6104,6099,6113,6114,1,2
top,2018.06.25,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,male,M,17,Afternoon,White shark,"C. Moore, GSAF",1898.00.00.R-Syria.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1952.08.04,2018.06.25,stopped here,Teramo
freq,1,4438,2200,1025,162,966,511,4939,154,183,161,95,2,2,4,2,1,1,1

* ¿Cuál es el porcentaje de valores nulos en cada columna?

In [30]:
#se puede hacer también de la siguiente forma:
db_sharks.isnull().sum()*100/len(db_sharks)

Unnamed: 0                 0.000000
Case Number                0.016356
Year                       0.000000
Type                       0.065424
Country                    0.654236
Area                       6.673209
Location                   7.981681
Activity                   8.357867
Name                       3.271181
Sex                        8.995747
Age                       43.604841
Time                      52.011776
Species                   44.242722
Investigator or Source     0.261694
pdf                        0.000000
href formula               0.016356
href                       0.000000
Case Number.1              0.000000
Case Number.2              0.000000
original order             0.000000
Unnamed: 22               99.983644
Unnamed: 23               99.967288
dtype: float64

In [29]:
db_sharks.isnull().mean()*100

Unnamed: 0                 0.000000
Case Number                0.016356
Year                       0.000000
Type                       0.065424
Country                    0.654236
Area                       6.673209
Location                   7.981681
Activity                   8.357867
Name                       3.271181
Sex                        8.995747
Age                       43.604841
Time                      52.011776
Species                   44.242722
Investigator or Source     0.261694
pdf                        0.000000
href formula               0.016356
href                       0.000000
Case Number.1              0.000000
Case Number.2              0.000000
original order             0.000000
Unnamed: 22               99.983644
Unnamed: 23               99.967288
dtype: float64

* Sacad los valores únicos y su frecuencia de las variables numéricas. Almacenad los resultados en un diccionario. Uno para cada variable.

In [35]:
columnas= db_sharks.columns
columnas

Index(['Unnamed: 0', 'Case Number', 'Year', 'Type', 'Country', 'Area',
       'Location', 'Activity', 'Name', 'Sex ', 'Age', 'Time', 'Species ',
       'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [43]:
dict_sharks = {}

In [45]:
db_sharks["Location"].value_counts()

New Smyrna Beach, Volusia County                             162
Daytona Beach, Volusia County                                 30
Ponce Inlet, Volusia County                                   20
Melbourne Beach, Brevard County                               18
Myrtle Beach, Horry County                                    17
                                                            ...
Ocean Beach, Jaycee Park, Vero Beach, Indian River County      1
South Beach Park, Indian River County                          1
460 miles off Iwakuni                                          1
 Boa Viagem Beach, Recife                                      1
Hamelin Harbour, at Faure Island                               1
Name: Location, Length: 4020, dtype: int64

In [47]:
for i in db_sharks:
    print(db_sharks[i].unique)

<bound method Series.unique of 0          0
1          1
2          2
3          3
4          4
        ...
6109    6127
6110    6128
6111    6129
6112    6130
6113    6131
Name: Unnamed: 0, Length: 6114, dtype: int64>
<bound method Series.unique of 0         2018.06.25
1         2018.06.18
2         2018.06.09
3         2018.06.08
4         2018.06.04
            ...
6109    1804.02.26.R
6110      1803.05.17
6111      1803.03.00
6112    1802.04.13.R
6113    1801.12.18.R
Name: Case Number, Length: 6114, dtype: object>
<bound method Series.unique of 0       2018.0
1       2018.0
2       2018.0
3       2018.0
4       2018.0
         ...
6109    1804.0
6110    1803.0
6111    1803.0
6112    1802.0
6113    1801.0
Name: Year, Length: 6114, dtype: float64>
<bound method Series.unique of 0            Boating
1         Unprovoked
2            Invalid
3         Unprovoked
4           Provoked
            ...
6109            Boat
6110    Sea Disaster
6111      Unprovoked
6112      Unprovoked
6113        Provoked
Name: Type, Length: 6114, dtype: object>
<bound method Series.unique of 0             USA
1             USA
2             USA
3       AUSTRALIA
4          MEXICO
          ...
6109    AUSTRALIA
6110          USA
6111    AUSTRALIA
6112        INDIA
6113          NaN
Name: Country, Length: 6114, dtype: object>
<bound method Series.unique of 0              California
1                 Georgia
2                  Hawaii
3         New South Wales
4                  Colima
              ...
6109      New South Wales
6110       South Carolina
6111    Western Australia
6112                  NaN
6113                  NaN
Name: Area, Length: 6114, dtype: object>
<bound method Series.unique of 0            Oceanside, San Diego County
1         St. Simon Island, Glynn County
2                           Habush, Oahu
3                     Arrawarra Headland
4                               La Ticla
                      ...
6109      Georges Head, off Port Jackson
6110                      Off Charleston
6111    Hamelin Harbour, at Faure Island
6112                                 NaN
6113                                 NaN
Name: Location, Length: 6114, dtype: object>
<bound method Series.unique of 0                              Paddling
1                              Standing
2                               Surfing
3                               Surfing
4                           Free diving
                     ...
6109                                NaN
6110                                NaN
6111                                NaN
6112                                NaN
6113    Standing on landed shark's tail
Name: Activity, Length: 6114, dtype: object>
<bound method Series.unique of 0                           Julie Wolfe
1                       Adyson McNeely
2                           John Denges
3                                  male
4                        Gustavo Ramos
                     ...
6109                               boat
6110                      Captain Jones
6111    M. Lefevre & a sailor (rescuer)
6112                                NaN
6113                   Stephen Pettigew
Name: Name, Length: 6114, dtype: object>
<bound method Series.unique of 0         F
1         F
2         M
3         M
4         M
       ...
6109    NaN
6110      M
6111      M
6112    NaN
6113      N
Name: Sex , Length: 6114, dtype: object>
<bound method Series.unique of 0        57
1        11
2        48
3       NaN
4       NaN
       ...
6109    NaN
6110    NaN
6111    NaN
6112    NaN
6113    NaN
Name: Age, Length: 6114, dtype: object>
<bound method Series.unique of 0               18h00
1       14h00  -15h00
2               07h45
3                 NaN
4                 NaN
            ...
6109              NaN
6110              NaN
6111              NaN
6112              NaN
6113              NaN
Name: Time, Length: 6114, dtype: object>
<bound method Series.unique of 0           White shark
1                   NaN
2                   NaN
3             2 m shark
4       Tiger shark, 3m
             ...
6109                NaN
6110                NaN
6111                NaN
6112                NaN
6113          12' shark
Name: Species , Length: 6114, dtype: object>
<bound method Series.unique of 0                                        R. Collier, GSAF
1                          K.McMurray, TrackingSharks.com
2                          K.McMurray, TrackingSharks.com
3                                          B. Myatt, GSAF
4                                               A .Kipper
                              ...
6109                           Sydney Gazette, 2/26/1804
6110                              Evening Post, 6/13/1803
6111    F.  Peron ref in G.P. Whitley (Fishes of Austr...
6112                    Evening Post (New York) 4/13/1802
6113                         The Evening Post, 12/18/1801
Name: Investigator or Source, Length: 6114, dtype: object>
<bound method Series.unique of 0                  2018.06.25-Wolfe.pdf
1                2018.06.18-McNeely.pdf
2                 2018.06.09-Denges.pdf
3              2018.06.08-Arrawarra.pdf
4                  2018.06.04-Ramos.pdf
                     ...
6109    1804.02.26-boat-GeorgesHead.pdf
6110               1803.05.17-Jones.pdf
6111             1803.03.00-Lefevre.pdf
6112             1802.04.13.R-India.pdf
6113         1801.12.18.R-Pettigrew.pdf
Name: pdf, Length: 6114, dtype: object>
<bound method Series.unique of 0       http://sharkattackfile.net/spreadsheets/pdf_di...
1       http://sharkattackfile.net/spreadsheets/pdf_di...
2       http://sharkattackfile.net/spreadsheets/pdf_di...
3       http://sharkattackfile.net/spreadsheets/pdf_di...
4       http://sharkattackfile.net/spreadsheets/pdf_di...
                              ...
6109    http://sharkattackfile.net/spreadsheets/pdf_di...
6110    http://sharkattackfile.net/spreadsheets/pdf_di...
6111    http://sharkattackfile.net/spreadsheets/pdf_di...
6112    http://sharkattackfile.net/spreadsheets/pdf_di...
6113    http://sharkattackfile.net/spreadsheets/pdf_di...
Name: href formula, Length: 6114, dtype: object>
<bound method Series.unique of 0       http://sharkattackfile.net/spreadsheets/pdf_di...
1       http://sharkattackfile.net/spreadsheets/pdf_di...
2       http://sharkattackfile.net/spreadsheets/pdf_di...
3       http://sharkattackfile.net/spreadsheets/pdf_di...
4       http://sharkattackfile.net/spreadsheets/pdf_di...
                              ...
6109    http://sharkattackfile.net/spreadsheets/pdf_di...
6110    http://sharkattackfile.net/spreadsheets/pdf_di...
6111    http://sharkattackfile.net/spreadsheets/pdf_di...
6112    http://sharkattackfile.net/spreadsheets/pdf_di...
6113    http://sharkattackfile.net/spreadsheets/pdf_di...
Name: href, Length: 6114, dtype: object>
<bound method Series.unique of 0         2018.06.25
1         2018.06.18
2         2018.06.09
3         2018.06.08
4         2018.06.04
            ...
6109    1804.02.26.R
6110      1803.05.17
6111      1803.03.00
6112    1802.04.13.R
6113    1801.12.18.R
Name: Case Number.1, Length: 6114, dtype: object>
<bound method Series.unique of 0         2018.06.25
1         2018.06.18
2         2018.06.09
3         2018.06.08
4         2018.06.04
            ...
6109    1804.02.26.R
6110      1803.05.17
6111      1803.03.00
6112    1802.04.13.R
6113    1801.12.18.R
Name: Case Number.2, Length: 6114, dtype: object>
<bound method Series.unique of 0       6303.0
1       6302.0
2       6301.0
3       6300.0
4       6299.0
         ...
6109     176.0
6110     175.0
6111     174.0
6112     173.0
6113     172.0
Name: original order, Length: 6114, dtype: float64>
<bound method Series.unique of 0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
6109    NaN
6110    NaN
6111    NaN
6112    NaN
6113    NaN
Name: Unnamed: 22, Length: 6114, dtype: object>
<bound method Series.unique of 0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
       ...
6109    NaN
6110    NaN
6111    NaN
6112    NaN
6113    NaN
Name: Unnamed: 23, Length: 6114, dtype: object>