In [2]:
import pandas as pd
import numpy as np
import re

### Ejercicio 1
Cread una columna nueva y una funci칩n que nos de el mes en el que ocurri칩 el ataque. Tened en cuenta que no todas las filas tienen la misma estructura y que puede que no haya la informaci칩n de mes. En ese caso devolved un nulo (NaN).

In [3]:
pd7 = pd.read_csv("../Pandas/attacks_1_3.csv")

In [6]:
pd7.head(3)

,Unnamed: 0,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,pdf,href_formula,href,siglo
0,0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
1,6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
2,8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

In [5]:
pd7.columns

Index(['Unnamed: 0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex_', 'age', 'time', 'species_',
       'pdf', 'href_formula', 'href', 'siglo'],
      dtype='object')

In [47]:
def sacar_mes(x):
    return x.split("\..*\.",x)

In [48]:
pd7_copia = pd7.copy()

In [49]:
pd7_copia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1502 non-null   int64
 1   case_number   1502 non-null   object
 2   year          1502 non-null   float64
 3   type          1502 non-null   object
 4   country       1502 non-null   object
 5   area          1502 non-null   object
 6   location      1502 non-null   object
 7   activity      1502 non-null   object
 8   name          1502 non-null   object
 9   sex_          1502 non-null   object
 10  age           1502 non-null   object
 11  time          1502 non-null   object
 12  species_      1502 non-null   object
 13  pdf           1502 non-null   object
 14  href_formula  1502 non-null   object
 15  href          1502 non-null   object
 16  siglo         1502 non-null   object
dtypes: float64(1), int64(1), object(15)
memory usage: 199.6+ KB

In [51]:
pd7_copia["mes"] = pd.to_datetime(pd7_copia["case_number"]).dt.month

ParserError: Unknown string format: 2018.06.03.a

In [34]:
pd7_copia["mes"]

0         [2018.06.25]
1       [2018.06.03.a]
2       [2018.05.26.b]
3         [2018.05.24]
4       [2018.05.13.a]
             ...
1497      [1901.07.30]
1498      [1894.11.28]
1499      [1892.03.02]
1500      [1880.11.25]
1501      [1868.05.13]
Name: mes, Length: 1502, dtype: object

### Ejercicio 2
Vamos con la columna fatal_(y/n). Lo primero que ten칠is que hacer es evaluar los valores 칰nicos que hay. Esperar칤amos tener solo dos valores: y y n, pero tristemente no ser치 as칤 游땴. Cread una columna nueva y una funci칩n que devuelva 칰nicamente y o n y que devuelva un nulo (NaN) si no se encuentra el valor.

In [57]:
historico = pd.read_csv("../Pandas/attacks_adicional.csv")

In [58]:
historico.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6288 entries, 0 to 6287
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   6288 non-null   int64
 1   Case Number  6287 non-null   object
 2   Fatal (Y/N)  5751 non-null   object
 3   Injury       6258 non-null   object
 4   Date         6286 non-null   object
dtypes: int64(1), object(4)
memory usage: 245.8+ KB

In [59]:
historico.columns = historico.columns.str.replace(" ", "_").str.lower()

In [60]:
historico.columns

Index(['unnamed:_0', 'case_number', 'fatal_(y/n)', 'injury', 'date'], dtype='object')

In [61]:
historico["fatal_(y/n)"].unique()

array(['N', 'Y', nan, 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'],
      dtype=object)

In [ ]:
def limpiar (c):
    try: 
        c.strip()
        return