In [19]:
import pandas as pd
import numpy as np
import re

### Ejercicio 1

Cargad el csv que guardasteis ayer.
Antes de seguir con las preguntas, este DataFrame está terriblemente sucio. En las próximas sesiones lo iremos limpiando. Para evitar posibles errores con los nulos vamos a eliminar todos los nulos del DataFrame.
Para ello vamos a utilizar el método .dropna() de pandas. 
`df.dropna(inplace = True)`
¿Cuántas filas se han eliminado con esta línea de código?

In [20]:
#primero abrimos la base de datos
db_sharks = pd.read_csv('../Pandas/attacks_1_2.csv')
db_sharks.head(5)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [21]:
db_sharks2 = db_sharks.copy()
db_sharks2.head()

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1,2018.06.18,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,14h00 -15h00,NaN,2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2,2018.06.09,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,07h45,NaN,2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
3,2018.06.08,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,NaN,2 m shark,2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
4,2018.06.04,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,NaN,"Tiger shark, 3m",2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

* Antes de manipular la BBDD, vamos a hacer una exploración preliminar del dataframe:

In [22]:
#información básica sobre el dataframe
db_sharks2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6114 entries, 0 to 6113
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   case_number   6113 non-null   object
 1   year          6114 non-null   float64
 2   type          6110 non-null   object
 3   country       6074 non-null   object
 4   area          5706 non-null   object
 5   location      5626 non-null   object
 6   activity      5603 non-null   object
 7   name          5914 non-null   object
 8   sex           5564 non-null   object
 9   age           3448 non-null   object
 10  time          2934 non-null   object
 11  species       3409 non-null   object
 12  pdf           6114 non-null   object
 13  href_formula  6113 non-null   object
 14  href          6114 non-null   object
dtypes: float64(1), object(14)
memory usage: 716.6+ KB

In [23]:
#Conteo de filas
filas_antes = db_sharks2.shape[0]
print(f'Antes de borrar los nulos, hay un total de {filas_antes} casos')

Antes de borrar los nulos, hay un total de 6114 casos

In [24]:
#Eliminamos todos los nulos del dataframe
db_sharks2.dropna(inplace = True)

In [25]:
#conteo de filas después de borrar los valores nulos
filas_despues = db_sharks2.shape[0]
print(f'Después de borrar los nulos, hay un total de {db_sharks2.shape[0]} casos')

Después de borrar los nulos, hay un total de 1502 casos

In [26]:
#calculamos el total de filas que se han borrado:
print(f"Con la eliminación de los casos nulos, se han borrado un total de {(filas_antes - filas_despues)} filas.")

Con la eliminación de los casos nulos, se han borrado un total de 4612 filas.

### Ejercicio 2
¿Cuál es el número de ataques que se han producido en Estados Unidos?

In [27]:
#volvemos a abrir el df para tenerlo presente:
db_sharks2.head(2)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [28]:
db_usa = db_sharks2[db_sharks2["country"] == "USA"]
print(f"Ha habido un total de {db_usa.country.count()} casos de ataques de tiburones en USA.")

Ha habido un total de 719 casos de ataques de tiburones en USA.

### Ejercicio 3
¿Y en España?

In [29]:
db_spain = db_sharks2[db_sharks2["country"] == "SPAIN"]
print(f"Ha habido un total de {db_spain.country.count()} casos de ataques de tiburones en España.")

Ha habido un total de 5 casos de ataques de tiburones en España.

* 3.1 ¿En qué regiones se han producido los ataques (columna location) ?

In [30]:
db_spain['location'].unique()

array(['Grao de Moncofa', 'Arenales del Sol', 'Poniente Beach, Benidorm',
       'Sardina del Norte, Gáldar', 'Playa de las Arenas, Valencia '],
      dtype=object)

* 3.2 ¿Cuántos ataques se han producido en cada área (columna area)?

In [31]:
db_spain['location'].value_counts()

Grao de Moncofa                   1
Arenales del Sol                  1
Poniente Beach, Benidorm          1
Sardina del Norte, Gáldar         1
Playa de las Arenas, Valencia     1
Name: location, dtype: int64

### Ejercicio 4

Extraed un DataFrame nuevo con los ataques que se han producido en Australia y Estados Unidos. 📌 Nota Este ejercicio se puede resolver usando dos condiciones de filtrado o usando el método isin(). Hacedlo con ambas herramientas.

* Nuevo DF con condiciones de filtrado:

In [32]:
db_usa_aus = db_sharks2[(db_sharks2['country'] == 'USA') | (db_sharks2['country'] == 'AUSTRALIA')]
db_usa_aus.head(3)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [33]:
#confirmamos que el nuevo df solo registra los resultados de los países que nos interesan:
db_usa_aus["country"].unique()

array(['USA', 'AUSTRALIA'], dtype=object)

* Nuevo DF con isin():

In [34]:
db_usa_aus = db_sharks2[db_sharks2['country'].isin(['USA', 'AUSTRALIA'])]
db_usa_aus.head(3)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
8,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [35]:
#confirmamos, de nuevo, que con el mismo método el nuevo df solo registra los resultados de los países que nos interesan:
db_usa_aus["country"].unique()

array(['USA', 'AUSTRALIA'], dtype=object)

* 4.1 ¿Cuántos ataques se han producido en cada país?

In [36]:
db_usa_aus['country'].value_counts()

USA          719
AUSTRALIA    324
Name: country, dtype: int64

* 4.2 ¿Ha habido ataques en Australia a gente que estuviera remando (lo encontrareis como Paddling en el DataFrame en la columna activity)?

In [37]:
aus_rem = db_usa_aus[(db_usa_aus['country'] == 'AUSTRALIA') & (db_usa_aus['activity'] == 'Paddling')]
aus_rem.head(3)

Empty DataFrame
Columns: [case_number, year, type, country, area, location, activity, name, sex, age, time, species, pdf, href_formula, href]
Index: []

        Vemos que con las condiciones aplicadas, el filtro no nos devuelve ningún caso. Igualmente, vamos a confirmarlo contando el número de casos:

In [38]:
len(aus_rem)
print(f'Hay un total de {len(aus_rem)} casos en los que haya habido ataques en Australia a gente que estuviera remando')

Hay un total de 0 casos en los que haya habido ataques en Australia a gente que estuviera remando

* 4.3 ¿Cuántos ataques se han producido en Australia antes del 2000?

In [39]:
cond1 = db_usa_aus['country'] == 'AUSTRALIA'
cond2 = db_usa_aus['year'] < 2000
db43= db_usa_aus[(cond1) & (cond2)]
db43.head(3)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href
2116,1999.05.29,1999.0,Unprovoked,AUSTRALIA,South Australia,"Hardwicke Bay, Yorke Peninsula",Windsurfing,Tony Donoghue,M,22,14h30,Thought to involve a white shark,1999.05.29-Donoghue.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2129,1999.02.23,1999.0,Unprovoked,AUSTRALIA,New South Wales,Scotts Head,Surfing,male,M,35,Evening,Bronze whaler or tiger shark,1999.02.23-ScottsHead.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
2174,1998.06.28.a,1998.0,Unprovoked,AUSTRALIA,South Australia,South Neptune Island,Free diving for abalone,Doug Chesser,M,26,14h00,Thought to involve a 5.5 m white shark named Kong,1998.06.28-Chesser.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [40]:
len(db43)
print(f"Ha habido un total de {len(db43)} ataques de tiburón en Australia antes del 2000")

Ha habido un total de 151 ataques de tiburón en Australia antes del 2000

* 4.4 ¿Y después del 2000?

In [41]:
cond1 = db_usa_aus['country'] == 'AUSTRALIA'
cond2 = db_usa_aus['year'] > 2000
db44= db_usa_aus[(cond1) & (cond2)]
db44.head(2)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href
10,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,32,Morning,Grey reef shark,2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
21,2018.04.25.a,2018.0,Unprovoked,AUSTRALIA,Western Australia,"Surfers Point, Prevelly",Surfing,Rob Bruce,M,60,09h30,3 m shark,2018.04.25.a-Bruce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [42]:
#de nuevo, vamos a contar los casos que cumplen nuestras condiciones:
db_usa_aus[(cond1) & (cond2)].shape[0]
print(f"Ha habido un total de {db_usa_aus[(cond1) & (cond2)].shape[0]} ataques de tiburón en Australia después del 2000")

Ha habido un total de 167 ataques de tiburón en Australia después del 2000

### Ejercicio 5
Extraed unicamente los ataques a mujeres.

In [44]:
at_muj = db_sharks2[db_sharks2['sex'] == 'F']
at_muj.head(2)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
40,2018.02.23,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Little Congwong Beach, La Perouse",Swimming,Anna Shurapey,F,55,"19h00, Dusk","Juvenile white shark, 2.7 to 3.2 m",2018.02.23-Shurapey.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [ ]:
#comprobamos el número de casos:
at_muj.shape[0]
print(f'Ha habido un total de {at_muj.shape[0]} ataques a mujeres')

### Ejercicio 6
¿Cuántas mujeres fueron atacadas en España?

In [45]:
at_muj_esp = db_spain[db_spain['sex'] == 'F']
at_muj_esp.head(2)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href
98,2017.08.26.b,2017.0,Invalid,SPAIN,Castellón,Grao de Moncofa,Swimming,female,F,11,Midday,Shark involvement questionable,2017.08.26.b-Spain.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [46]:
at_muj_esp.shape[0]
print(f'Ha habido {at_muj_esp.shape[0]} ataque a mujeres en España.')

Ha habido 1 ataque a mujeres en España.

### Ejercicio 7
Extraed los ataques que se hayan producido en el año 2000, 1997 y 2006. Utilizad el método isin() para resolver este ejercicio

In [47]:
db_sharks2[db_sharks2['year'].isin([1997, 2000, 2006])].head(3)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href
1407,2006.12.18,2006.0,Unprovoked,AUSTRALIA,Victoria,"Winki Pop, Bells Beach",Surfing,Peter Galvin,M,25,20h00,2.5 to 3 m shark,2006.12.18-Galvin.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1408,2006.12.11,2006.0,Unprovoked,NEW ZEALAND,North Island,"Raglan, Manu Bay",Surfing,Elliot Paerata-Reid,M,10,11h00,2 to 3 m shark,2006.12.11-Reid.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
1409,2006.12.10,2006.0,Unprovoked,USA,California,"Dillon Beach, Marin County",Surfing,Royce Fraley,M,43,11h50,"White shark, 12' to 15'",2006.12.10-Frailey.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

### Ejercicio 8
Si extraemos los valores únicos de la columna species nos podemos dar cuenta que está un poco sucia y extraer informacion útil de la misma se puede convertir en algo difícil. En este ejercicio tendréis que extraer los ataques que han ocurrido por tiburón blanco (lo encontraremos en la columna species como algo que contenga white o White). Usad el método str.contains() para resolver este ejercicio.

In [56]:
tibblanco = db_sharks2[db_sharks2["species"].str.contains('[w|W]hite')]
tibblanco.head(3)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
24,2018.04.22,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,33,09h40,"White shark, 2.5 m",2018.04.22-PlettenbergBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
34,2018.04.03,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,19,15h00,White shark,2018.04.03-StFrancisBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [57]:
#vamos a comprobar las categorías:
tibblanco['species'].unique()

array(['White shark', 'White shark, 2.5 m',
       'Juvenile white shark,  2.7 to 3.2 m', 'White shark, 4.6 m',
       'White shark, 4.5 m', 'White shark, 3 to 3.5m ',
       'White shark, 3 m', "White shark, 5' to 7'",
       "White shark, 11' to 13'", "White shark, 8' to 10'",
       'White shark, 4 m', 'White shark, 3.5 m',
       "White shark, 10' to 12'", "White shark, 11' to 12'",
       "White shark, 10' to 12' ", "White shark, 13'",
       'White shark, 3.9 to 4.2 m', "White shark, 7'",
       'White shark, 2m to 3 m', 'White shark, 6 m',
       'White shark or oceanic whitetip shark', 'White shark, 4 to 5 m',
       '2 white shark: 13\' & 9"8"', "White shark, 12' to 14'",
       " white shark, 15' ", '3 m to 4 m white shark', 'White shark, 3m ',
       'Thought to involve a white shark', "White shark, 10 '",
       "Whitetip reef shark, 4' to 6'", 'White shark, 4m',
       "White shark, 15' to 16' ", 'White shark or bronze whaler',
       'White shark, 5m', 'White shark, 2 m', 'White shark, 4 m to 5m ',
       'White shark, 4m ', 'White shark, 2.7 m', 'White shark, 2.5m',
       "White shark, 10'", "White shark, >6'", 'White shark, 3m to 4m',
       'White shark x 2', 'Oceanic whitetip shark, 2.5m ',
       'Oceanic whitetip shark, 2.5m, female', "White shark, 14' to 18' ",
       "Oceanic whitetip shark, 6'", "White shark, 5' to 6' juvenile ",
       'Oceanic whitetip shark, 2.5 to 3m', 'White shark, 2.5m ',
       "White shark, 12' ", 'White shark, 3.5m', 'White shark, 4m to 5m ',
       '4 to 5m white shark', '5 m white shark',
       "8' white shark or 7-gill shark", 'White shark, 2m',
       "White shark, 15'", "White shark, 12' to 15'",
       'Oceanic whitetip sharks were in the vicinity', "White shark, 12'",
       'White shark, 3m', "White shark, 12' to 15' ", 'White shark, 5m ',
       "White shark, 16' ", 'White shark?', "14' white shark",
       '3.5 m white shark', 'Whitetip reef shark',
       "12' to 14' white shark", "18' white shark",
       "14' to 16' white shark", "4 m [13'] white shark",
       'juvenile white shark',
       "Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident",
       "6 m [20'] white shark", '4.5 m & 5 m white shark ',
       "5.5 m [18'] white shark", "2 m [6.75'] white shark",
       "4.9 m to 5.5 m [16' to 18'] white shark", '9\'2" white shark',
       "5 m [16.5'] white shark", "4 m to 5 m [13' to 16.5'] white shark",
       "4.5 m to 5.5 m [15' to 18'] white shark",
       "3.5 m [11.5'] white shark", "2.5 m [8.25'] white shark",
       'White shark, 4 m white shark',
       "3 m to 4.5 m [10' to 15'] white shark",
       "3.7 m to 4.3 m [12' to 14'] white shark", "White shark, 6m [20']",
       'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
       "White shark, 2.4 m to 3 m [8' to 10'] ",
       "White shark, 2.7 m [9'] ", "White shark, 4.9 m [16'] ",
       "White shark, 5 m [16.5'] ",
       "White shark, 4 m to 5 m [13' to 16.5'] ", 'White shark, 2.5 m ',
       "White shark, 3.5 m [11.5']  male ",
       "White shark, 3 m to 5 m [10' to 16.5'] ",
       "White shark, 4 m [13'] ", "White shark, 4.6 m [15'] ",
       'Possibly a white shark', 'Though to involve a white shark',
       "White shark, 5 m to 6 m [16.5' to 20'] ",
       "White shark, 4.9 m [16']",
       'Thought to involve a 5.5 m white shark named Kong',
       "3 m to 4 m [10' to 13'] white shark", "3 m [10'] white shark",
       '4.5 m white shark', "3 m to 5 m [10' to 16.5'] white shark",
       "5.5 m to 6 m [18' to 20'] white shark",
       "2.5 m [8.25'] white shark ",
       "5 m to 5.5 m [16.5' to 18'] white shark",
       ">6 m [20'] white shark", "5.5 m to 6 m [18' to 20']  white shark",
       "Remains recovered from 5.5 m [18'] white shark",
       '5 m to 6 m white shark', '4.2 m white shark',
       "4 m to 5 m [13' to 16.5']  white shark ", '4 m white shark',
       "5 m [16.5'] white shark, identification by K. Nakaya",
       "Said to involve a 6 m to 7 m [20' to 23'] white shark",
       "5 m to 6 m [16.5' to 20'] white shark",
       "5 m  [16.5'] white shark",
       "2.5 m to 3 m [8.25' to 10']  white shark",
       '4.5 m [14\'9"] white shark',
       "5.5 m [18'] white shark, identified by witnesses & tooth marks",
       "2.3 m [7.5'] white shark, identified by M. Smale",
       "2.7 m [9'] white shark",
       'White shark, identified by tooth pattern',
       "4 m to 5 m [13' to 16.5']  white shark",
       ">3.4 m [11'] white shark", "2.4 m to 3 m [8' to 10'] white shark",
       "3.5 m [11.5']  white shark", '5.7 m white shark',
       ">2.5 m [8.25'] white shark", ">2.4 m [8'] white shark",
       '3 m to 3.6 m  [10\' to 11\'9"] white shark',
       '3.5 m white shark, tooth fragments recovered',
       '4.5 m to 5 m white shark', "2.4 m [8'] white shark",
       'Believed to involve a 2.8 m [9\'3"] white shark',
       "2.4 m [8'] white shark, species identity confirmed by tooth fragment",
       "4.5 m to 5.5 m [14.7' to 18'] white shark",
       "2.4 m [8'] white shark, species identity confirmed by witnesses & tooth pattern in surfboard",
       "7 m [23'] white shark", '6 m  white shark',
       "1.8 m [6'] white shark", '2.8 m [9\'3"] white shark',
       "White shark, 2.5 m [8.25']  ",
       "White shark, 2.3 m [7.5'], tooth fragment recovered",
       "White shark, 3.7 m [12'] ",
       "White shark, 5.5 m to 6 m [18' to 20']  ",
       "White shark, 5.5 m [18'] ", "White shark, 3 m [10'] k",
       "White shark, 3 m to 4 m [10' to 13'] ",
       "White shark, 3.5 m [11.5'], species identity confirmed by tooth fragment",
       'White shark, 4.5 m ', "White shark, 2.4 m [8']",
       "White shark, 5.8 m [19'] ", 'White shark, 5m to 6m',
       "White shark, 3 m [10'] ",
       "White shark, 5.5 m to 6 m [18' to 20'] ",
       'White shark, 4 m to 5 m ',
       "White shark, 5 m to 6 m [16.5 to 20'] ",
       "White shark, 5 m [16.5']",
       "White shark, 4.4 m to 5 m [14.5' to 16.5'] ",
       "White shark, 2.5 m [8.25'] ", "White shark, 3 m [10']rk",
       "White shark, 5 m to 6 m [16.5' to 20']  ",
       "White shark, 3 m [10'], species identity confirmed by witnesses & tooth pattern in leg & board ",
       'White shark according to tooth pattern and witnesses',
       "White shark, 4.3 m 4.9 m [14' to 16'] ",
       'White shark, identified by tooth fragments in surfboard',
       "White shark, 4.3 m [14'], (tooth fragment recovered)",
       "White shark, 2.5 m [8.25'], an immature female, previously injured",
       "White shark, 2.4 m [8'] ", "White shark, 1.5 m [5'] k",
       "White shark, 3 m to 3.7 m [10' to 12'] ",
       'White shark (tooth fragment recovered)', 'White shark, 3 m ',
       "White shark, 2.1 m [7'] ",
       "White shark, 4.3 m [14'] (or bronze whaler)",
       "White shark, 4.3 m to 4.9m [14' to 16']",
       'White shark, based on bite pattern',
       "White shark, 3 m [10'], tooth fragment from wounds identified as that of a white shark",
       "White shark, 2.1 m [7']  based on tooth pattern",
       "White shark, 5 m [16.5'], identified by Dr. W. I. Follett on tooth marks",
       "Reported to involve a White shark, 6 m to 7m [20' to 23'] ",
       "White shark, 3 m [10']; identifed by Dr. W.I. Follett on tooth marks",
       "White shark, 1.8 m to 2.1 m [6' to 7']  according to Shreuder and a witness",
       "White shark, 5 m to 6 m [16.5' to 20] ",
       '3.6 m  white shark  (or bronze whaler)',
       'White shark tooth fragment recovered from ankle & identified by Dr. W. I. Follett',
       "White shark,4.6 m [15'] ", "White shark, 1.8 m [6'] ",
       'White shark, 3m, seen in area and hooked 3 days later',
       "White shark, 3.7 m [12']  according to witnesses",
       'White shark, 3.6 m [11\'9"] ', 'White shark, 4.2 m [13\'9"] ',
       'White shark, according to witnesses',
       'White shark, 2 m [6\'9"]  (Tooth fragment recovered from victim\'s shoulder & identified by J.T. Nicholls)',
       'White shark, 4.5 m  to 6 m [14\'9" to 20\'] according to witnesses',
       'White shark, species identity confirmed by tooth pattern',
       'White shark, 160-kg [353-lb], identity confirmed by tooth pattern',
       'White shark (identified by Dr. Hugh Smith) ',
       "White shark, 3.5 m to 4 m [11.5' to 13'] ",
       "White shark 4.9 m [16'] ",
       'White shark, 4.5 m [14\'9"], identity confirmed by witness & tooth pattern',
       "White shark, 4.4 m [14.5'] . ",
       "Said to involve 6 to 7 m [20' to 23'] white shark",
       "1.5 m [5'] white shark or sevengill shark",
       "White shark, 12', identity confirmed by tooth fragment, witness and photograph of captured shark ",
       "Thought to involve a 2.6 m [8.5'] white shark"], dtype=object)

        Vemos que hay muchos casos que incluyen 'white shark'. Comprobamos que el código ha funcionado en el primer valor de la línea 1 (posición 0 del array), y en el primer valor de la segunda línea (posición 4 del array).

### Ejercicio 9
Extraed ahora los ataques por tiburón blanco o tigre. Utilizad el método str.contains() para resolver este ejercicio.

In [58]:
tibbltig = db_sharks2[db_sharks2["species"].str.contains('[w|W]hite | [t|T]iger')]
tibbltig.head(3)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
24,2018.04.22,2018.0,Unprovoked,SOUTH AFRICA,Western Cape Province,"Robberg Beach, Plettenberg Bay",Paddle-skiing,male,M,33,09h40,"White shark, 2.5 m",2018.04.22-PlettenbergBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
34,2018.04.03,2018.0,Unprovoked,SOUTH AFRICA,Eastern Cape Province,St. Francis Bay,Surfing,Ross Spowart,M,19,15h00,White shark,2018.04.03-StFrancisBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

        Vamos a comprobar que nuestro filtro ha funcionado:

In [59]:
tibbltig['species'].unique()

array(['White shark', 'White shark, 2.5 m',
       'Juvenile white shark,  2.7 to 3.2 m', 'White shark, 4.6 m',
       'White shark, 4.5 m', 'White shark, 3 to 3.5m ',
       'White shark, 3 m', "White shark, 5' to 7'",
       "White shark, 11' to 13'", "White shark, 8' to 10'",
       'White shark, 4 m', 'White shark, 3.5 m',
       "White shark, 10' to 12'", "White shark, 11' to 12'",
       "White shark, 10' to 12' ", "White shark, 13'",
       'White shark, 3.9 to 4.2 m', "White shark, 7'",
       'White shark, 2m to 3 m', 'White shark, 6 m',
       'White shark or oceanic whitetip shark', 'White shark, 4 to 5 m',
       '2 white shark: 13\' & 9"8"', "White shark, 12' to 14'",
       " white shark, 15' ", '3 m to 4 m white shark', 'White shark, 3m ',
       'Thought to involve a white shark', "White shark, 10 '",
       'White shark, 4m', "White shark, 15' to 16' ",
       'White shark or bronze whaler', 'White shark, 5m',
       'White shark, 2 m', 'White shark, 4 m to 5m ', 'White shark, 4m ',
       'White shark, 2.7 m', 'Allegedly a 4 m tiger shark',
       'White shark, 2.5m', "White shark, 10'", "White shark, >6'",
       'White shark, 3m to 4m', ' Tiger shark, 2.8m', 'White shark x 2',
       "White shark, 14' to 18' ", "White shark, 5' to 6' juvenile ",
       'White shark, 2.5m ', "White shark, 12' ", 'White shark, 3.5m',
       'White shark, 4m to 5m ', '4 to 5m white shark', '5 m white shark',
       "8' white shark or 7-gill shark", 'White shark, 2m',
       "White shark, 15'", "White shark, 12' to 15'", "White shark, 12'",
       'White shark, 3m', "6' to 8' shark, possibly a tiger shark",
       "White shark, 12' to 15' ", 'White shark, 5m ',
       "White shark, 16' ", 'White shark?', "14' white shark",
       '3.5 m white shark', "12' to 14' white shark", "18' white shark",
       "14' to 16' white shark", "4 m [13'] white shark",
       'juvenile white shark',
       "Mr. Burgess of ISAF announced the injury was the bite of a 1.8 m [6'], 2- to 3-year old white shark. Subsequent investigation revealed there was  no shark involvement in this incident",
       "6 m [20'] white shark", '4.5 m & 5 m white shark ',
       "5.5 m [18'] white shark", "2 m [6.75'] white shark",
       'Thought to involve a 2.5 m bull or tiger shark',
       "4.9 m to 5.5 m [16' to 18'] white shark", '9\'2" white shark',
       "5 m [16.5'] white shark", "4 m to 5 m [13' to 16.5'] white shark",
       "4.5 m to 5.5 m [15' to 18'] white shark",
       "3.5 m [11.5'] white shark", "2.5 m [8.25'] white shark",
       'White shark, 4 m white shark',
       "3 m to 4.5 m [10' to 15'] white shark",
       'Possibly a bull shark or tiger shark', 'Bull or tiger shark',
       "3.7 m to 4.3 m [12' to 14'] white shark", "White shark, 6m [20']",
       'A large white shark was filmed by divers on a local wreck 2 days prior to the incident.',
       "White shark, 2.4 m to 3 m [8' to 10'] ",
       "White shark, 2.7 m [9'] ", "White shark, 4.9 m [16'] ",
       "White shark, 5 m [16.5'] ",
       "White shark, 4 m to 5 m [13' to 16.5'] ", 'White shark, 2.5 m ',
       "White shark, 3.5 m [11.5']  male ",
       "White shark, 3 m to 5 m [10' to 16.5'] ",
       "White shark, 4 m [13'] ", 'Bronze whaler or tiger shark',
       "White shark, 4.6 m [15'] ", 'Possibly a white shark',
       'Though to involve a white shark',
       "White shark, 5 m to 6 m [16.5' to 20'] ",
       "White shark, 4.9 m [16']",
       'Thought to involve a 5.5 m white shark named Kong',
       "3 m to 4 m [10' to 13'] white shark", "3 m [10'] white shark",
       '4.5 m white shark', "3 m to 5 m [10' to 16.5'] white shark",
       "5.5 m to 6 m [18' to 20'] white shark",
       "2.5 m [8.25'] white shark ", 'Possibly a tiger shark',
       "5 m to 5.5 m [16.5' to 18'] white shark",
       ">6 m [20'] white shark", "5.5 m to 6 m [18' to 20']  white shark",
       'Thought to involve a tiger shark',
       "Remains recovered from 5.5 m [18'] white shark",
       '5 m to 6 m white shark', '4.2 m white shark',
       "4 m to 5 m [13' to 16.5']  white shark ", '4 m white shark',
       "5 m [16.5'] white shark, identification by K. Nakaya",
       "Said to involve a 6 m to 7 m [20' to 23'] white shark",
       "5 m to 6 m [16.5' to 20'] white shark",
       "5 m  [16.5'] white shark",
       "2.5 m to 3 m [8.25' to 10']  white shark",
       '4.5 m [14\'9"] white shark',
       "5.5 m [18'] white shark, identified by witnesses & tooth marks",
       "2.3 m [7.5'] white shark, identified by M. Smale",
       "2.7 m [9'] white shark",
       'White shark, identified by tooth pattern',
       "4 m to 5 m [13' to 16.5']  white shark",
       ">3.4 m [11'] white shark", "2.4 m to 3 m [8' to 10'] white shark",
       "3.5 m [11.5']  white shark", '5.7 m white shark',
       ">2.5 m [8.25'] white shark", ">2.4 m [8'] white shark",
       '3 m to 3.6 m  [10\' to 11\'9"] white shark',
       '3.5 m white shark, tooth fragments recovered',
       '4.5 m to 5 m white shark', "2.4 m [8'] white shark",
       'Believed to involve a 2.8 m [9\'3"] white shark',
       "2.4 m [8'] white shark, species identity confirmed by tooth fragment",
       "4.5 m to 5.5 m [14.7' to 18'] white shark",
       "2.4 m [8'] white shark, species identity confirmed by witnesses & tooth pattern in surfboard",
       "7 m [23'] white shark",
       'Said to involve a tiger shark or a hammerhead shark',
       '6 m  white shark', "1.8 m [6'] white shark",
       '2.8 m [9\'3"] white shark', "White shark, 2.5 m [8.25']  ",
       "White shark, 2.3 m [7.5'], tooth fragment recovered",
       "White shark, 3.7 m [12'] ",
       "White shark, 5.5 m to 6 m [18' to 20']  ",
       "White shark, 5.5 m [18'] ", "White shark, 3 m [10'] k",
       "White shark, 3 m to 4 m [10' to 13'] ",
       "White shark, 3.5 m [11.5'], species identity confirmed by tooth fragment",
       'White shark, 4.5 m ', "White shark, 2.4 m [8']",
       "White shark, 5.8 m [19'] ", 'White shark, 5m to 6m',
       "White shark, 3 m [10'] ",
       "White shark, 5.5 m to 6 m [18' to 20'] ",
       'White shark, 4 m to 5 m ',
       "White shark, 5 m to 6 m [16.5 to 20'] ",
       "White shark, 5 m [16.5']",
       "White shark, 4.4 m to 5 m [14.5' to 16.5'] ",
       "White shark, 2.5 m [8.25'] ", "White shark, 3 m [10']rk",
       "White shark, 5 m to 6 m [16.5' to 20']  ",
       "White shark, 3 m [10'], species identity confirmed by witnesses & tooth pattern in leg & board ",
       'White shark according to tooth pattern and witnesses',
       "White shark, 4.3 m 4.9 m [14' to 16'] ",
       'White shark, identified by tooth fragments in surfboard',
       "White shark, 4.3 m [14'], (tooth fragment recovered)",
       "White shark, 2.5 m [8.25'], an immature female, previously injured",
       "White shark, 2.4 m [8'] ", "White shark, 1.5 m [5'] k",
       "White shark, 3 m to 3.7 m [10' to 12'] ",
       'White shark (tooth fragment recovered)',
       ">1.2 m [4'] tiger shark", 'White shark, 3 m ',
       "White shark, 2.1 m [7'] ",
       "White shark, 4.3 m [14'] (or bronze whaler)",
       "White shark, 4.3 m to 4.9m [14' to 16']",
       'White shark, based on bite pattern',
       "White shark, 3 m [10'], tooth fragment from wounds identified as that of a white shark",
       "White shark, 2.1 m [7']  based on tooth pattern",
       "White shark, 5 m [16.5'], identified by Dr. W. I. Follett on tooth marks",
       "Reported to involve a White shark, 6 m to 7m [20' to 23'] ",
       "White shark, 3 m [10']; identifed by Dr. W.I. Follett on tooth marks",
       "White shark, 1.8 m to 2.1 m [6' to 7']  according to Shreuder and a witness",
       "2.4 m [8'] tiger shark caught 40 hours later with shorts of the boy in its gut",
       "White shark, 5 m to 6 m [16.5' to 20] ",
       '3.6 m  white shark  (or bronze whaler)',
       'White shark tooth fragment recovered from ankle & identified by Dr. W. I. Follett',
       "White shark,4.6 m [15'] ", "White shark, 1.8 m [6'] ",
       'White shark, 3m, seen in area and hooked 3 days later',
       "White shark, 3.7 m [12']  according to witnesses",
       'White shark, 3.6 m [11\'9"] ', 'White shark, 4.2 m [13\'9"] ',
       'White shark, according to witnesses',
       'White shark, 2 m [6\'9"]  (Tooth fragment recovered from victim\'s shoulder & identified by J.T. Nicholls)',
       'White shark, 4.5 m  to 6 m [14\'9" to 20\'] according to witnesses',
       'White shark, species identity confirmed by tooth pattern',
       'White shark, 160-kg [353-lb], identity confirmed by tooth pattern',
       'White shark (identified by Dr. Hugh Smith) ',
       "White shark, 3.5 m to 4 m [11.5' to 13'] ",
       "White shark 4.9 m [16'] ",
       'White shark, 4.5 m [14\'9"], identity confirmed by witness & tooth pattern',
       "White shark, 4.4 m [14.5'] . ",
       "Said to involve 6 to 7 m [20' to 23'] white shark",
       "1.5 m [5'] white shark or sevengill shark",
       "White shark, 12', identity confirmed by tooth fragment, witness and photograph of captured shark ",
       "Thought to involve a 2.6 m [8.5'] white shark"], dtype=object)

        Vemos que los valores de tiger son muy difíciles de ver.
        Para ello, vamos a confirmar que están de la siguiente manera:

In [60]:
tiger = tibbltig[tibbltig['species'].str.contains('[t|T]iger')] #almacenamos el filtro en una variable
tiger['species'].unique() #consultamos los valores únicos de la variable que hemos creado

array(['Allegedly a 4 m tiger shark', ' Tiger shark, 2.8m',
       "6' to 8' shark, possibly a tiger shark",
       'Thought to involve a 2.5 m bull or tiger shark',
       'Possibly a bull shark or tiger shark', 'Bull or tiger shark',
       'Bronze whaler or tiger shark', 'Possibly a tiger shark',
       'Thought to involve a tiger shark',
       'Said to involve a tiger shark or a hammerhead shark',
       ">1.2 m [4'] tiger shark",
       "2.4 m [8'] tiger shark caught 40 hours later with shorts of the boy in its gut"],
      dtype=object)

### Ejercicio 10
Utilizando la columna de year cread una nueva columna llamada siglo que tiene siglo-XX o siglo-XXI. Donde el año sea menor que 2000 pondremos siglo-XX y el resto de los años siglo-XXI.

In [61]:
db_sharks3 = db_sharks2.copy() #como se trata de un cambio importante en el csv, vamos a trabajar sobre una copia
db_sharks3.head(2)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...
6,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...

In [62]:
#creamos la columna con los filtros:
siglos = [(db_sharks3['year'] < 1900), (db_sharks3['year'] < 2000), (db_sharks3['year'] >= 2000)]
valores = ['siglo-XIX', 'siglo-XX', 'siglo-XXI']

db_sharks3['siglo'] = np.select(siglos, valores)

In [63]:
#comprobamos que los valores se han introducido correctamente:
db_sharks3['siglo'].unique()

array(['siglo-XXI', 'siglo-XX', 'siglo-XIX'], dtype=object)

        Vamos a comprobar que nuestra columna siglo ha filtrado correctamente los valores de la columna year. Para ello buscamos el valor mínimo de year y su posición:

In [64]:
db_sharks3.loc[db_sharks3['year'] == db_sharks3['year'].min()]

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href,siglo
5905,1868.05.13,1868.0,Unprovoked,INDIA,Hoogly River,Ghat,Standing,male,M,35,Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,1868.05.13-Hindoo.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XIX

        Vemos que en la columna 'siglo' en este caso aparece 'siglo-XIX', que es el valor que queríamos que apareciera. Ha funcionado :-)

## Ejercicio 11
Guardad como un archivo csv nuevo. Lo usaremos en el pair programming de mañana.

In [65]:
db_sharks3 = db_sharks3.to_csv('../Pandas/attacks_1_3.csv')