### Ejercicio 1.
Cargad los tres ficheros nombrados anteriormente y los exploramos para familizarizarnos con ellos y saber que información tienen en común y debatir con tu compañera como podríamos juntar toda la información.

In [1]:
import pandas as pd
import numpy as np

In [2]:
attacks = pd.read_csv('../Pandas/attacks_1_3.csv')
attadicional = pd.read_csv('../Pandas/attacks_adicional.csv')
atthist = pd.read_csv('../Pandas/attacks_historico.csv')

In [3]:
attacks.head(3)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href,siglo
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,17h00,"Bull shark, 6'",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI

In [4]:
attadicional.head(3)

,Unnamed: 0,Case Number,Fatal (Y/N),Injury,Date
0,0,2018.06.25,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,1,2018.06.18,N,Minor injury to left thigh,18-Jun-2018
2,2,2018.06.09,N,Injury to left lower leg from surfboard skeg,09-Jun-2018

In [5]:
atthist.head(3)

,Unnamed: 0,Case Number,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,6132,1800.00.00,1800.0,Unprovoked,SEYCHELLES,St. Anne,NaN,a corsair's boat was overturned,NaN,F,...,NaN,V. C. Harvey-Brain,1800.00.00-Corsair-boat.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1800.00.00,1800.00.00,171.0,NaN,NaN
1,6133,1797.05.28.R,1797.0,Unprovoked,NaN,NaN,NaN,Dropped overboard,child,NaN,...,NaN,The Observer 5/28/1797,1797.05.28.R-Cloverdale.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1797.05.28.R,1797.05.28.R,170.0,NaN,NaN
2,6134,1792.09.12,1792.0,Provoked,ENGLAND,NaN,On the Thames River,Fishing,male,M,...,NaN,"The Waterford Herald, 9/15/1792",1792.09.12-Thames.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1792.09.12,1792.09.12,169.0,NaN,NaN

In [6]:
attacks.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   case_number   1502 non-null   object
 1   year          1502 non-null   float64
 2   type          1502 non-null   object
 3   country       1502 non-null   object
 4   area          1502 non-null   object
 5   location      1502 non-null   object
 6   activity      1502 non-null   object
 7   name          1502 non-null   object
 8   sex           1502 non-null   object
 9   age           1502 non-null   object
 10  time          1502 non-null   object
 11  species       1502 non-null   object
 12  pdf           1502 non-null   object
 13  href_formula  1502 non-null   object
 14  href          1502 non-null   object
 15  siglo         1502 non-null   object
dtypes: float64(1), object(15)
memory usage: 187.9+ KB

In [7]:
attadicional.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6288 entries, 0 to 6287
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   6288 non-null   int64
 1   Case Number  6287 non-null   object
 2   Fatal (Y/N)  5751 non-null   object
 3   Injury       6258 non-null   object
 4   Date         6286 non-null   object
dtypes: int64(1), object(4)
memory usage: 245.8+ KB

In [8]:
atthist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              170 non-null    int64
 1   Case Number             170 non-null    object
 2   Year                    170 non-null    float64
 3   Type                    170 non-null    object
 4   Country                 160 non-null    object
 5   Area                    124 non-null    object
 6   Location                119 non-null    object
 7   Activity                139 non-null    object
 8   Name                    161 non-null    object
 9   Sex                     156 non-null    object
 10  Age                     16 non-null     object
 11  Time                    10 non-null     object
 12  Species                 44 non-null     object
 13  Investigator or Source  169 non-null    object
 14  pdf                     170 non-null    object
 15  href formula            170 non-null    object
 16  href                    170 non-null    object
 17  Case Number.1           170 non-null    object
 18  Case Number.2           170 non-null    object
 19  original order          170 non-null    float64
 20  Unnamed: 22             0 non-null      float64
 21  Unnamed: 23             0 non-null      float64
dtypes: float64(4), int64(1), object(17)
memory usage: 29.3+ KB

        Podemos observar que attacks_historico.csv (atthist) las columnas son las mismas que en nuestro archivo original de attacks.csv antes de la depuración.

### Ejercicio 2.
Chequead que los nombres de las columnas ver si se llaman iguales entre dataframes . ¿Están todas en minúsculas? ¿Tienen espacios? En caso de que no sean todas iguales unificad el nombre de las columnas.

In [18]:
#vamos a crear copias para cada archivo:
attacks2 = attacks.copy()
atthist2 = atthist.copy()
attadic2 = attadicional.copy()

        Es necesario homogeneizar los formatos de los nombres de las columnas (están capitalizadas) y quitar los espacios para que se parezca lo máximo posible a nuestro csv attacks. También hay que quitar las columnas y los nulos que borramos en ejercicios anteriores.

* Limpieza de atthist (attacks_historicos.csv):

In [17]:
#quitamos los espacios delante y detrás de los nombres:
atthist.columns = atthist.columns.str.strip()
#quitamos los espacios y los reemplazamos por '_':
atthist.columns = atthist.columns.str.replace(" ", "_").str.lower()
atthist.columns
#Nos pasa lo siguiente que no sabemos como resolver: Sobre los originales se guardan los cambios aplicados con el .strip() pero no con las copias

Index(['unnamed:_0', 'case_number', 'year', 'type', 'country', 'area',
       'location', 'activity', 'name', 'sex', 'age', 'time', 'species',
       'investigator_or_source', 'pdf', 'href_formula', 'href',
       'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'],
      dtype='object')

In [19]:
#borramos las columnas que no nos hacen falta
atthist2.drop(['unnamed:_0', 'investigator_or_source', 'case_number.1', 'case_number.2', 'original_order', 'unnamed:_22',
       'unnamed:_23'], inplace=True, axis=1)
atthist2.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species', 'pdf',
       'href_formula', 'href'],
      dtype='object')

* Limpieza de attadic2 (attacks_adicional.csv)

In [20]:
#homogeneizamos el formato:
attadic2.columns = attadic2.columns.str.strip().str.replace(" ", "_").str.lower()
#borramos la columna innecesaria:
attadic2.drop(['unnamed:_0'], inplace=True, axis=1)
attadic2.columns

Index(['case_number', 'fatal_(y/n)', 'injury', 'date'], dtype='object')

### Ejercicio 3.
En este momento nos habremos dado cuenta que el DataFrame que generamos en el pair programming Pandas IV es similar al DataFrame de los datos históricos. Si recordamos, eliminamos algunas columnas en la sesión III que no eran útiles, pero esas columnas están todavía en el histórico. Si no fuera por eso podríamos unir esos dataframes. Realizad los cambios que creais necesarios para que los dataframes sean iguales y luego juntadlos usando el mejor método.

        Sabemos que la única columna que tiene ahora attacks2 que no tiene attthist2 es la columna de 'siglos'. Creamos la columna siglos en atthist2:

In [21]:
atthist2.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species', 'pdf',
       'href_formula', 'href'],
      dtype='object')

In [22]:
atthist2['year'].unique()

array([1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785., 1784.,
       1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758., 1753.,
       1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723., 1721.,
       1703., 1700., 1642., 1638., 1637., 1617., 1595., 1580., 1555.,
       1554., 1543.,  500.,   77.,    5.,    0.])

In [23]:
#creamos la columna con los filtros:
        #[(db_sharks3['year'] < 1900), (db_sharks3['year'] < 2000), (db_sharks3['year'] >= 2000)]
siglos = [(atthist2['year'] == 1800), (atthist2['year'] < 1800), (atthist2['year'] < 1700), (atthist2['year'] < 1600)]
valores = ['siglo XIX', 'siglo-XVIII', 'siglo-XVII', 'siglo-XVI o anterior']

atthist2['siglo'] = np.select(siglos, valores)

In [24]:
#ahora, confirmamos que las columnas en attacks_historicos y attacks_1_3 tienen las mismas columnas
atthist2.columns == attacks2.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True])

### Ejercicio 4.
Es el momento de unir la información de todos los ataques de tiburón que acabamos de crear con el DataFrame de información adicional. Debatid que método es el más correcto para unir toda esta información y ejecutadlo.
📌 NOTA Cuando hagáis la unión considerad que la información que más nos interesa es la del DataFrame que creamos en el apartado anterior, lo cual determinará el tipo de unión.

        
        Fusionamos ambas bases (atthist2 y attacks2). Optamos por un merge() ya que es el método diseñado para combinar datos en columnas comunes:

In [25]:
nuevo_attack = attacks2.merge(atthist2, how='outer')
#sería lo mismo que hacer un .concat() pero especificando que se aplique en el axis[0], es decir, las filas.

In [26]:
nuevo_attack.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   case_number   1672 non-null   object
 1   year          1672 non-null   float64
 2   type          1672 non-null   object
 3   country       1662 non-null   object
 4   area          1626 non-null   object
 5   location      1621 non-null   object
 6   activity      1641 non-null   object
 7   name          1663 non-null   object
 8   sex           1658 non-null   object
 9   age           1518 non-null   object
 10  time          1512 non-null   object
 11  species       1546 non-null   object
 12  pdf           1672 non-null   object
 13  href_formula  1672 non-null   object
 14  href          1672 non-null   object
 15  siglo         1672 non-null   object
dtypes: float64(1), object(15)
memory usage: 222.1+ KB

        Comprobamos las tres últimas columnas de nuestro nuevo DF (nuevo_attack), para confirmar que los tres últimos casos coinciden con las del df - atthist2. 
        
        En los scripts siguientes se comprueba que los ultimos case_number coinciden con los IDs de atthist2:

In [27]:
nuevo_attack.tail(3)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href,siglo
1669,ND.0003,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,NaN,NaN,ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XVIII
1670,ND.0002,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,NaN,NaN,ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XVIII
1671,ND.0001,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,NaN,NaN,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XVIII

In [28]:
atthist2.tail(3)

,case_number,year,type,country,area,location,activity,name,sex,age,time,species,pdf,href_formula,href,siglo
167,ND.0003,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,NaN,NaN,ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XVIII
168,ND.0002,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,NaN,NaN,ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XVIII
169,ND.0001,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,NaN,NaN,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XVIII

    Fusión de nuevo_attacks con attacks_adicional. Optamos por concat() ya que nos interesa unir las columnas.

In [31]:
mega_nuevo_attack = pd.concat([nuevo_attack, attadic2], axis=1)

In [32]:
mega_nuevo_attack.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'sex', 'age', 'time', 'species', 'pdf',
       'href_formula', 'href', 'siglo', 'case_number', 'fatal_(y/n)', 'injury',
       'date'],
      dtype='object')

### Ejercicio 5.
Guardad el dataframe nuevo en un csv que usaremos mañana en la clase de pair programming.

In [35]:
guardado_csv = mega_nuevo_attack.to_csv('attacks_1_4.csv', index=False)